body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

/* top navbar */

#main-nav {
    float: right;
    margin: 30px 30px 0 0;
}
  
nav a {
    margin-left: 24px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

/* background images */

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    z-index: -2;
    background-position: center;
}

.bgimg-1 {
    background-image: url("../img/zweeds_sideline.jpg");
    opacity: 1;
}

.bgimg-2 {
    background-image: url("../img/team_photo.jpg");
}

.bgimg-3 {
    background-image: url("../img/row_cheer.jpg");
}

.bgimg-4 {
    background-image: url("../img/zane_break.jpg");
}

/* gallery carousel */

.carousel,.item,.active {
    height:100%;
}

.carousel-inner {
    height:100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#gallery .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* responsive image positioning */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .carousel-item img {
        object-position: 50% 5%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel-item img {
        object-position: 50% 25%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}