body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

/* top navbar */

#main-nav {
    display: flex;
    justify-content: space-around;
}
  
nav a {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

/* background images */

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    z-index: -2;
    background-position: center;
}

.bgimg-1 {
    background-image: url("../img/zweeds_sideline.jpg");
    opacity: 1;
}

.bgimg-2 {
    background-image: url("../img/team_photo.jpg");
}

.bgimg-3 {
    background-image: url("../img/row_cheer.jpg");
}

.bgimg-4 {
    background-image: url("../img/zane_break.jpg");
}

/* gallery carousel */

.carousel,.item,.active {
    height:100%;
}

.carousel-inner {
    height:100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#gallery .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* center overlays on parallax images */

#logo {
    text-decoration: underline;
    text-decoration-color: orange;
    padding-bottom: 1em;
}

.center-block {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.center-block .bordered {
    background-color: #111;
    color: #fff;
    padding: 1em;
    display: inline-block;
}

.center-block .bordered.transparent {
    background-color: transparent;
    text-shadow: 0 0 10px #000;
}

/* font-awesome icons */

#social .fa {
    padding: 1em;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0.2em 0.1em;
    color: #fff;
}
  
#social .fa:hover {
    opacity: 0.7;
}

/* responsive image positioning */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel-item img {
        object-position: 50% 30%;
    }
}