body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

/* navbars */

#main-nav {
    display: flex;
    justify-content: space-around;
}
  
nav a {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.highlight {
    border-bottom: 0.15rem solid #e77500;
}

/* roster section */

#roster-nav a {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #ddd;
}
  
#roster-nav {
    display: flex;
    justify-content: space-between;
}

#roster-table {
    margin: 0 auto;
    color: #ddd;
}

#roster-table .table-left-heading {
    padding-right: 8rem;
}

.table-labels {
    color: #ddd;
}

/* background images */

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    z-index: -2;
    background-position: center;
}

.bgimg-1 {
    background-image: url("../img/zweeds_sideline.jpg");
    opacity: 1;
}

.bgimg-2 {
    background-image: url("../img/team_photo.jpg");
}

.bgimg-3 {
    background-image: url("../img/row_cheer.jpg");
}

.bgimg-4 {
    background-image: url("../img/zane_break.jpg");
}

/* text sections */

.section {
    padding: 3rem;
}
  
.section h1 {
    text-align: center;
}

.section-text {
    text-align: left;
    max-width: 56.25rem;
    margin: auto;
}

.section .section-text p a {
    color: #4d4d4d;
    text-decoration: none;
}

.section-orange {
    background-color: #e77500;
    color: #ddd;
}
  
.section-black {
    background-color: #333;
    color: #666;
}

#about .list-group {
    margin: 1.5rem auto;
    text-align: center;
    width: 50%;
    color: #777;
}

/* gallery carousel */

.carousel,.item,.active {
    height:100%;
}

.carousel-inner {
    height:100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#gallery .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* center overlays on parallax images */

#logo {
    text-decoration: underline;
    text-decoration-color: orange;
    padding-bottom: 1rem;
}

.center-block {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.center-block .bordered {
    background-color: #111;
    color: #fff;
    padding: 1rem;
    display: inline-block;
}

.center-block .bordered.transparent {
    background-color: transparent;
    text-shadow: 0 0 10px #000;
}

/* font-awesome icons */

#social .fa {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    margin: 0.2rem 0.1rem;
    color: #fff;
}
  
#social .fa:hover {
    opacity: 0.7;
}

/* responsive image positioning */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel-item img {
        object-position: 50% 30%;
    }
}